/*---------------- COLORS --------------------*/
/*
    header-bg-color: #35424a;
    reddish-color: #e8491d;
    fav-color: #fafad2;
*/
/*--------------------------------------------*/

/*---------------- ANIMATIONS ----------------*/
    @keyframes moveInLeft {
        0% {opacity: 0; transform: translate(-100px);}
        80% {transform: translate(10px);}
        100% {opacity: 1; transform: translate(0);}
    }
    
    @keyframes moveInRight {
        0% {opacity: 0; transform: translate(100px);}
        80% {transform: translate(-10px);}
        100% {opacity: 1; transform: translate(0);}
    }
    
    @keyframes moveInFromBelow {
        0% {opacity: 0; transform: translateY(30px);}
        100% {opacity: 1; transform: translate(0);}
    }
/*-------------------------------------------*/


/*--------------- GLOBALS -------------------*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

html, body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Times New Roman', Times, serif;
    /* position: absolute; */
    /* width: 100vw; */
    overflow-x: hidden;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

 .margin-div {
        margin-right: 20px;
        margin-left: 20px;}

/*------------------------------------------*/


/*----------------- UTILITY CLASSES --------*/

.u-center-item {margin: 0 auto;}
.u-center-text { text-align: center !important; }
.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium { margin-bottom: 4rem !important; }
.u-margin-bottom-big { margin-bottom: 8rem !important; }

.u-margin-top-small {margin-top: 2rem !important;}
.u-margin-top-medium {margin-top: 4rem !important;}
.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }
.active-link { color: #e8491d !important; }
.logo {
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid black; */
    color: #e8491d;
    padding: 0 5px 0 5px;
    height: 50px;
    cursor: pointer;}
    .logo .special-coloring {
        color: #fafad2;
        font-style: italic;
        font-family: monospace;
        font-weight: 1000;}
    .repa {
        color: #e8491d;}
    .logo a {
        text-decoration: none;}
    .logo-footer-version {
        transform: scale(1.2);}

.heading-secondary {
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    /* background-image: linear-gradient(to right, #35424a, black); */
    background-image: linear-gradient(to right, #eeeeee, gold);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* text-shadow: .5rem 0rem 1rem rgba(53, 66, 74, .7); */
    letter-spacing: 2px;
    transition: all .2s;}
    .heading-secondary:hover {
        /* transform: skewY(2deg) skewX(15deg) scale(1.1); */
        /* transform: scale(1.1); */
        /* text-shadow: .5rem 1rem 2rem rgba(250, 250, 210, 1); */}

.heading-secondary-dark {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
   background-image: linear-gradient(to right, #35424a, rgb(1, 50, 67));
   transform: scale(1.1);
    /* text-shadow: .5rem 1rem 2rem rgba(53, 66, 74, 1); */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;}
    /* .heading-secondary-dark:hover {
        transform: scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba(53, 66, 74, 1);} */


.heading-tertiary-dark {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
   background-image: linear-gradient(to right, #35424a, rgb(1, 50, 67));
   transform: scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(53, 66, 74, 1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;}
    /* .heading-secondary-dark:hover {
        transform: scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba(53, 66, 74, 1);} */

.heading-tertiary {
    background-image: linear-gradient(to right, #eeeeee, gold);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;}

.paragraph {
    font-size: 16px;}
    .paragraph:not(:last-child) {
        margin-bottom: 3rem;}


/* The custom link button*/
.link {
    padding: 10px 2px 10px 2px;
    font-family: "Lucida Grande" !important;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: lightgoldenrodyellow;
    position: relative; /*enables z-index to work*/
    z-index: 10;}
.link:hover { color: white;}
.link-container {
    border-radius: 5px;
    width: 180px;
    position: relative;
    /* border-bottom: 2px solid #e8491d; */
    text-align: center;}
.link-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #e8491d;
    border-radius: 5px;
    /* background-color: transparent; */
    /* border-bottom: 3px solid #e8491d; */
    transform: scaleY(0);
    transition: transform .2s,
                width .4s cubic-bezier(1,0,0,1) .2s,
                background-color .6s;}
.link-container:hover::before {
    transform: scaleY(1);
    width: 100%;}
#link-on-white-bg {
    color: #013243;
    transition: all 1s;}
#link-on-white-bg:hover {
    color: #ffffff;}


/**   POPUP DISPLAY */
.popup {
    overflow-x: auto;
    overflow-y: auto;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 9999;

    opacity: 0;
    visibility: hidden;
    transition: all .4s;}
.popup-content {
    width: 75%;
    /* height: 20rem; */ /* You don't want height, so that this div will have an auto height, that scales according to content */
    background-color: rgba(255, 255, 255, .75);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, .2);
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table; /* so that its children (popup-left and popup-right), when their display property is set to 'table-cell',  will be displayed side by side like the cells of a table. It works like display: flex; */
    overflow: hidden; /*prevents its contents (like the img) from overflowing the border*/
    opacity: 0;
    transform: translate(-50%, -50%) scale(.25);
    transition: all .4s .2s; /* transition-duration: 0.4s; transition-delay: 0.2s;*/}
.popup-left {
    width: 33.333333%;
    display: table-cell;}
.popup-right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle; /*other values are: top, bottom. You can check them out with the dev tool*/
    padding: 2rem 4rem;}
.popup-img {
    display: block;
    width: 100%;}
.popup-text {
    font-size: 1rem;
    margin-bottom: 3rem;

    column-count: 2; /* divides the text into 2 columns. You can try other values like 3, 4, etc*/
    column-gap: 3rem;
    column-rule: 1px solid grey;
    
    /* to work in mozilla*/
    --moz-column-count: 2; /* divides the text into 2 columns. You can try other values like 3, 4, etc*/
    -moz-column-gap: 3rem;
    -moz-column-rule: 1px solid #eee;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; /* adds hyphens automatically. For this to work, your html tag must be defined with the lang property, like <html lang="en"> */}
.popup:target {
    opacity: 1;
    visibility: visible;}
.popup:target .popup-content { /* When the popup becomes targeted, scale the popup-content to 100% ie scale(1)*/
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);}
.popup-close:link, .popup-close:visited {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    color: #e8491d;
    text-decoration: none;
    display: inline-block !important;
    text-align: center;
    line-height: 1;
    transition: all .5s;}
.popup-close:hover {
    color: red;}

/*------------------------------------------*/


/***************************** HOME PAGE **********************************/
header {
        background-image: linear-gradient(to right bottom, #35424a, rgba(53, 66, 74, 1));
        color: #fafad2;
        padding-top: 1rem;
        min-height: 3rem;
        border-bottom: #e8491d 3px solid;}
    #header-flex-box {
        width: 99%;
        margin: 0 auto;
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-between;
        /* flex-direction: column; */}
    nav {
        /* border: 1px solid black; */
        padding: 2px;
        padding-right: 2rem;
        margin-bottom: 10px;}
        .nav-ul::after { /*used to restore ul height after floating it to the right*/
            content: "";
            display: table;
            clear: both;}
        .li-outer {
            float: left;
            width: 150px; /*Set this to 150px*/
            height: 40px;
            line-height: 40px;
            text-align: center;
            text-transform: uppercase;
            font-size: 16px;}
        .links {
            /* text-transform: uppercase; */
            text-decoration: none;
            display: block;
            color: inherit;
            position: relative; /*enables z-index to work*/
            z-index: 10;}
            .links:hover{
                color: white;}
        .li-inner {
            z-index: 1000;
            display: none;
            text-align: center;}
        .li-outer:hover .li-inner {
            display: block;}
        .li-outer, .li-inner {
            position: relative;
            background-color: #35424a;
            border: 1px solid transparent;}
            .animated-link::before,
            .a-li-inner::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 3px;
                background-color: #e8491d;
                /* background-color: transparent; */
                /* border-bottom: 3px solid #e8491d; */
                transform: scaleY(0);
                transition: transform .2s,
                            width .4s cubic-bezier(1,0,0,1) .2s,
                            background-color .6s;}
            .animated-link:hover::before, 
            .a-li-inner:hover::before {
                transform: scaleY(1);
                width: 100%;}
            .li-outer:active::before,
            .li-inner:active::before {
                background-color: #e8491d;}


.main-section-div {
    background-image: linear-gradient(to right bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.8)),
        url(../img/nat-7.jpg);
    /* background-image: linear-gradient(to right bottom,
        rgba(6, 6, 29, .5),
        rgba(6, 6, 29, .5)),
        url(../img/nat-7.jpg); */
    min-height: 400px;  
    background-size: cover;  
    /* background-position: center; */
    text-align: center;}
    .mission-statement {
        padding: 24px 0 24px 0;
        width: 79%;
        /* position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%); */
        margin: 0 auto;
        margin-top: 0rem;
    }
    .mission-statement-big {
        font-size: 55px;
        margin-bottom: 15px;
        animation: moveInLeft 1s ease-out;
        background-image: linear-gradient(to right, #ffffff, yellow);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;}
    .mission-statement h1 {
        margin-top: 10%;}
    #style-i {
        color:lightgoldenrodyellow;
        text-transform: lowercase;
        font-style: italic;
        font-family: monospace;}
    #style-reporter {
        color: #e8491d;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: none;}
    #style-ireporter {
        /* display: inline-block; */
        border-top: 1px solid yellow;
        border-right: 1px solid yellow;}
    #style-africa {
        border-bottom: 1px solid yellow;
        padding-left: 50px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: yellow;}
    .mission-statement-small {
        font-size: 20px;
        letter-spacing: 5px;
        /* color: lightgoldenrodyellow; */
        background-image: linear-gradient(to right, #ffffff, yellow);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: moveInFromBelow .5s ease-out .75s;
        animation-fill-mode: backwards}


.section-newsletter {
    padding: 2rem 0 0 0;
    color: #fafad2;
    background: #35424a;}
    .section-newsletter .container {
        opacity: 0; /* LFA: 'take out the newsletter section' */
        margin-top: 1rem;
        width: 80%;
        margin: 0 auto;
        height: 5rem;
        display: flex;
        justify-content: space-between;
        /* align-items: center; */ /* Will center the items vertically betwween the top and the bottom*/
        padding: 0 2rem;}
    .section-newsletter .container h1 { 
        /* border: 1px solid white; */}
    .section-newsletter .container form { 
        display: flex;
        justify-content: flex-end;
        width: 45%;
        padding-left: 0;}
        .input-and-label {
            width: 100%;
            display: flex;
            flex-direction: column;}
        .input-class {
            /* align-self: flex-end; */
            border: 1px solid white;
            display: block;
            font-size: 15px;
            font-family: inherit;
            border-radius: 2px;
            background-color: rgba(255, 255, 255, 1);
            border: none;
            border-bottom: 3px solid transparent;
            width: 100%;
            padding: 4px;
            height: 38px;
            transition: all .5s;}
        .input-class:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
            border-bottom: 3px solid #55c57a;}
        .input-class:focus:invalid {
            border-bottom: 3px solid #e8491d;}
        .section-newsletter .container form label {
            display: block;
            padding: 10px 0 0 0;
            transition: all .5s;}
        .input-class:placeholder-shown + .label-class { /*These operations ':placeholder-shown' and '+' does not work when you use tag selectors instead of class names.*/
            opacity: 0;
            visibility: hidden;
            transform: translateY(-4rem);  /* With the labe below the input box, this will move upwards */
            /*transform: translateY(4rem); */ /*With the label above the input box, this will move it downwards*/}
        .btn {
            cursor: pointer;
            height: 38px;
            text-transform: uppercase;
            font-weight: 700;
            background: rgb(232, 73, 29);
            border: 0;
            padding-left: 20px;
            padding-right: 20px;
            color: #ffffff;
            border-radius: 2px;}


.section-about {
    /* background-image: linear-gradient(to right bottom, #6c7a89, black); */
    color: rgb(250, 250, 210);
    /* background-image: linear-gradient(
                        90deg,
                    rgba(250, 250, 50, 1) 0%,
                    rgba(255, 255, 255, 0.9), 100%, 
                    transparent 50%
                    ), 
                    url(../img/nat-6.jpg); */
    background-image: radial-gradient(white, #eeeeee);
    padding: 3px;
    padding-bottom: 15rem;
    display: block;}
    .flex-box {
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-around;}
        .col-1-of-2 {
            flex-basis: 45%;
            /* border: 1px solid black; */}
            .info {
                margin-bottom: 2rem;
                border-left: 1px solid #e8491d;
                box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
                letter-spacing: 1px;
                padding: 20px;
                border-radius: 5px;
                background-image: linear-gradient(to right bottom, rgba(53, 66, 74, 1), rgba(53, 66, 74, 1));
                color: lightgoldenrodyellow;}
                .img-gallery {
                    position: relative;}
                .img-in-gallery {
                    width: 55%;
                    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .4);
                    border-radius: 2px;
                    position: absolute;
                    z-index: 10;
                    transition: all .2s;
                    outline-offset: 0.5rem;}
                .img-in-gallery-1 {left: 0; top: 0rem;}
                .img-in-gallery-2 {right: 0; top: 2rem;}
                .img-in-gallery-3 { left: 20%; top: 10rem;}
                .img-in-gallery-1:hover,
                .img-in-gallery-2:hover,
                .img-in-gallery-3:hover {
                    outline: 1rem solid #35424a;
                    transform: scale(1) translateY(-.5rem);
                    /* box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, .5); */
                    box-shadow: 0 2.5rem 4rem rgba(250, 250, 218, .5);
                    z-index: 20;}
                .img-gallery:hover .img-in-gallery:not(:hover) {
                        transform: scale(.95);}



.section-incidence {
    padding: 2rem 0 6rem 0;
    background-image: linear-gradient(
    to right bottom, 
    rgba(53, 66, 74, 0.8), 
    rgba(20, 23, 26, 0.8)), 
    url(../img/nat-4.jpg);
    background-size: cover;
    /* transform: skewY(-7deg); */
    margin-top: -10rem;}
    /* but do not skew the direct child/children (the div class row) of this section */
    .section-incidence > * {
        /* transform: skewY(-7deg); */}
    .flex-box-card {
        display: flex;
        /* justify-content: space-between; */
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 2px;}
    .flex-box-card .col-1-of-2 {
        padding: 2px;
        flex-basis: 35%;}
    .card {
        transition: all .5s;
        background-color: rgba(108, 122, 137, .2);
        padding: 2px;
        padding-bottom: 30px;
        perspective: 419rem;
        -moz-perspective: 150rem;
        position: relative;
        min-height: 10rem;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        border-radius: 3px;}
    .card-picture {
        background-size: cover;
        height: 15rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;}
    .card-picture--1 {
            background-image: linear-gradient(to right bottom,
                                rgba(258, 66, 74, 0.8),
                                rgba(-40, 23, 60, 0.58)),
                                url(../img/bribery.jpeg);}
    .card-picture--2 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730),
                            url(../img/1543732393583.jpg);}
    .card-heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: #fff;
        position: absolute;
        top: 0rem;
        right: 0rem;
        transform: translate(-2%, 131%);
        width: 100%;}
    .card-heading-span {
        padding: .5rem .5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;}
    .card-heading-span--1 {
        background-image: linear-gradient(to right bottom,
                            rgba(258, 66, 74, 0.8),
                            rgba(-40, 23, 60, 0.58));}
    .card-heading-span--2 {
        background-image: linear-gradient(to right bottom,
                        rgba(255, 185, 0, 0.85),
                        rgba(255, 119, 48, 0.85));}
    .card-details {
        padding: 1rem 1rem 1rem 1rem;}
    .card-details ul {
        list-style: none;
        width: 70%;
        margin: 0 auto;}
    .card-details ul li {
        text-align: center;
        font-size: 1.2rem;
        font-style: italic;
        padding-top: 5px;
        /* padding: .5rem 0 .5rem 0; */
        border-bottom: 1px solid white;
        color: lightgoldenrodyellow;}
    .card:hover {
        /* transform: scale(1); */
        box-shadow: 0 1.5rem 4rem rgb(250, 250, 210, .4);
        /* box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .4); */}

/*There is no story yet. So this 'section' is used to patch the clippy part of section-incidence, befor the section footer*/
.section-stories {
    display: block;}
    .section-stories .row {
        height: 28.5vh;
        margin-top: -5rem;
        /* background-color: #6c7a89; */
          background-image: linear-gradient(
                        90deg,
                    rgba(255, 255, 255, 0.9) 0%,
                    rgba(255, 255, 255, 0.9), 100%, 
                    transparent 50%
                    ), 
                    url(../img/nat-6.jpg);}


.footer {
    /* background-color: #24252a; */
    background-color: #013243;
    padding: 3rem 0;
    font-size: 1rem;
    color: darkgray;}
    .footer-logo-box {
        text-align: center;
        margin-bottom: 3rem;}
    .flex-box-footer {
        display: flex;
        justify-content: space-around;}
    .footer-navigation{
        border-top: 1px solid #e8491d;
        padding-top: 1rem;
        display: inline-block;}
    .footer-ul {
        /* border: 1px solid white; */
        display: flex;}
    .footer-ul-li {
       /*Nothing here for now*/ }
    .footer-ul-li:not(:last-child) {
        margin-right: 1.5rem;}
    .footer-link:link, 
    .footer-link:visited {
        color: darkgray;
        background-color: transparent;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        transition: all .2s;}
    .footer-link:hover {
        color: orangered;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
        transform: scale(1.05);}
    .footer-copyright {
        border-top: 1px solid #e8491d;
        padding-top: 1rem;}
   
/******************* (END HOME PAGE) *************/


/******************** SIGN-UP PAGE **************/
    .registration-div {
        /* background-image: linear-gradient(90deg,rgba(250, 250, 50, 1) 0%,rgba(255, 255, 255, 0.9), 100%, transparent 50%), url(../img/nat-10.jpg); */
        /* background-image: linear-gradient( 179deg, rgba(250, 250, 50, 1) -15%, rgba(255, 255, 255, 0.9), 100%, transparent 100% ), url(../img/nat-10.jpg); */
        /* background-image: linear-gradient( 179deg, rgba(211, 211, 211, .8) 0%, rgba(255, 255, 255, 0.9), 100%, transparent 100% ), url(../img/nat-2-large.jpg); */
        background-image: linear-gradient( 179deg,  rgba(250, 250, 210, 1) 0%, rgba(255, 255, 255, 0.9), 100%, transparent 100% ), url(../img/nat-10.jpg);
        background-size: cover;
        /* background-size: 100%; */ /* This is a poor alternative to background-size: cover*/
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
        height: 60rem;
        padding: 2rem 0 0 0;}
    .registration-div-2{
        display: flex;
        justify-content: center;}
    .form {
        /* box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 1); */
        margin: 0 auto;
        /* margin-top: 2rem; */
        margin-bottom: 8rem;
        border: 1px solid rgb(53, 66, 74);
        border-radius: 5px;
        opacity: .9;
        width: 60%;}
    .test-form{
        box-shadow: 0 1.5rem 4rem rgb(250, 250, 210, .4);
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 8rem;
        background-image: linear-gradient(
        to right bottom, 
        rgba(53, 66, 74, 1), 
        rgba(53, 66, 74, 1));
        border: 3px solid rgb(53, 66, 74);
        border-radius: 10px;
        opacity: 0.5;
        width: 60%;}
    .form-group {
        /* border: 1px solid black; */
        width: 70%;
        margin: 0 auto;
        padding: 2px;}
    .form-group:not(:last-child) {
        margin-bottom: 1rem;}
    #form-group-last-child {
        /* margin-bottom: 0px; */}
    .form-group-title{
        text-align: center;}
     #form-register-title {
        margin-top: 40px;
        background-image: linear-gradient(to right, #35424a, rgb(1, 50, 67));
         -webkit-background-clip: text;
        background-clip: text;
        color: transparent;} 
    .form-input:focus {
        outline: none;
         /* box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .4) !important; */
        border-bottom: 3px solid lightgreen;}
    .form-input:focus:invalid {
        border-bottom: 3px solid #e8491d;}
    .form-input::-webkit-input-placeholder {
        color: #6c7a89;}
    .form-label {
        /* color: #6c7a89; */
        color: lightslategrey;
        font-size: 1.2rem;
        margin-left:1.3rem;
        margin-top: .5rem;
        display: block;
        transition: all .5s;}
    .form-input:placeholder-shown + .form-label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-2.5rem);}
    .form-div-btn {
        text-align: center;
        width: 70%;
        margin: 0 auto;
        padding: 2px;
        margin-bottom: 20px; }
    #btn-register {
        /* background-image: red; */
        height: 3rem;
        font-size: 1rem;
        padding: 10px;
        width: 50%;}
/**************** (END SIGN-UP PAGE) ******************/


/******************* LOGIN PAGE *********************/
.section-login {
    padding: 0 0;
     background-image: linear-gradient(to right bottom, #6c7a89, black);}
.div-over-form {
    /* background-image: linear-gradient(105deg,rgba(242, 242, 242, 1) 0%,rgba(255, 255, 255, 0.9), 50%, transparent 50%), url(../img/nat-10.jpg); */
    background-image: linear-gradient(105deg,rgba(6, 6, 29, .8) 0%,rgba(6, 6, 29, .8), 50%, transparent 50%), url(../img/nat-10.jpg);
    background-size: cover;
    /*background-size: 100%; */ /* same as [ background-size: cover ] */
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .2);
    height: 30rem;}
    .login-form-group {
        width: 80%;
        margin: 0 auto;}
    .login-form-group:not(:last-child) {
        margin-bottom: 2rem;}
    .form-input {
        font-family: inherit;
        font-size: 1rem;
        color: white;
        padding: .8rem 1rem;
        /* border-radius: 2px; */
        /* border: 1px solid white; */
        background-color: transparent;
        /* border-bottom: 1px solid #e8491d; */
        width: 100%;
        display: block;
        transition: all .5s;
    }
    .login-form-input:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
        border-bottom: 3px solid #e8491d;}
    .login-form-input:-webkit-input-placeholder {
        color: darkgray;}
    .login-form-label {
        display: block;
        font-size: 1rem;
        font-weight: 700;
        margin-left: 1rem;
        margin-top: .5rem;
        transition: all .5s;}
    .login-form-input:placeholder-shown + .login-form-label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-1.5rem);}
    .login-form {
        width: 45%;}
    #login-btn-submit {
        width: 40%;
        font-size: 1rem;}

/****************** (END LOGIN PAGE) **********************/



/******************TEST SIGN-UP ******************/
    .test-section-register {
     background-image: linear-gradient(
    to right bottom, 
    rgba(53, 66, 74, 0.1), 
    rgba(20, 23, 26, 0.1)), 
    url(../img/nat-5.jpg);
    background-size: cover;
    padding-top: 55px;}
    .test-form-group-title{
    text-align: center;
    margin-top: 40px;}
/*************************************************/




/*********************** REPORT PAGE *****************/
.section-report {
    background-image: linear-gradient(
    to bottom, 
    rgba(0, 0, 0, 0.5), 
    rgba(173, 216, 230, .5)), 
    url(../img/nat-4.jpg);
    background-position: center;
}
.section-report-flex-box {
    display: flex;
    /* border: 1px solid green; */
    padding: 2px;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    /* background-image: linear-gradient(180deg, rgba(6, 6, 29, .5) 50%,rgba(6, 6, 29, .5), 100%, transparent 0); */

    /* margin-top: 4rem; */
}
.div-over-form-report {
    /* border: 1px solid blue; */
    width: 70%;
}

.report-form {
    color: rgba(250, 250, 210, .5);
    /* border: 1px solid red; */
    margin: 2px;
    padding: 2px;
    /* background-color: rgba(238, 238, 238, .5); */
    background-image: linear-gradient(180deg, rgba(6, 6, 29, .5) 50%,rgba(6, 6, 29, .5), 100%, transparent 0);
}

.report-input-flex {
    /* border: 1px solid red; */
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;

    /* background-color: #eeeeee; */
} 
#report-input-flex-for-btn {
    background-color: transparent;
    justify-content: center;
}
.rep-field {
    /* border: 1px solid white; */
    padding: 2px;
    /* background-color: transparent;r */
    width: 48%;
}
.rep-field-for-radio, .rep-field-for-upload {
    background-image: linear-gradient(180deg, rgba(6, 6, 29, .5) 50%,rgba(6, 6, 29, .5), 100%, transparent 0);
}

#radio-container {
    /* border: 1px solid rgb(53, 66, 74);
    border-radius: 3px;
    background-color: rgba(211, 211, 211, .1); */
}
.report-form-input {
    /* border-radius: 2px; */
    /* border: 1px solid silver; */
    font-size: 1rem;
   width: 100%;
   padding: .5rem .5rem .5rem .5rem;
   outline: none;
   color: white;
   background-color: transparent;
   /* height: 100%; */
}
textarea {
    width: 100%;
    /* border-radius: 3px; */
    background-color: transparent;
    outline: none;
    color: white;
    padding: 1rem;
}
#rep-field-textarea {
    width: 100%;
}
.prompt {
    width: 100%;
    text-align: center;
    margin: 5px;
    color: lightgoldenrodyellow;
}
#btn-get-current-location {
    /* padding: 0 10px 0 10px; */
    border: none;
    background: none;
    outline: none;
    font-size: 1rem;
    color: #e8491d;
    text-decoration: underline;
    cursor: pointer;
}
.form-radio-group {
    padding: .5rem .5rem .5rem .5rem;
    /* border: 1px solid black; */
}
.form-radio-input {
    display: none;}
.form-radio-label {
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
    padding-left: 3.5rem;}

.div-over-file-upload-group {
    text-align: center;
}
.file-upload-group {
   padding-top: 10px;
   padding-bottom: 10px;
    
}
.report-input-file-upload {
    box-sizing: border-box;
    padding-right: 0;
    /* color: red; */
    display: inline-block;
    /* border: 1px solid black; */
    padding: 0;
    margin: 0;
}
.form-radio-button {
    height: 1.8rem;
    width: 1.8rem;
    border: 5px solid #e8491d;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -.26rem;
    left: 1.3rem;}
.form-radio-button::after { /* This is a pseudo-element, an element created with css instead of html. For the technique to work, such an element must have the 'content' and 'display' properties set as follows */
    content: "";
    display: block;
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    /* the next 4 lines will center the innner dot*/
    position: absolute;
    top: 52%;
    left: 49%;
    transform: translate(-50%, -50%);
    background-color: #e8491d;
    opacity: 0;
    transition: opacity .5s;}
.form-radio-input:checked ~ .form-radio-label .form-radio-button::after {
    opacity: 1;}
.div-report-form-btn {
    /* border: 1px solid black; */
    width: 48%;
}
#btn-send-report {
    font-size: 1rem;
    width: 100%;
}
.div-over-map {
    width: auto;
    /* border: 1px solid yellow; */
    padding: 10px;
}
.map {
    margin-top: 2.8rem;
    width: 20rem;
    height:29rem;
    border: 2px solid #35424a;
}
    
    
/********************** (END REPORT PAGE) *************/


/*********************** ADMIN PAGE *******************/
.section-admin {
    padding: 5px;
    /* border: 1px solid silver; */}
.section-admin-wrapper-div {
    padding: 5px;
    /* border: 1px solid silver; */}
.section-admin .flex-box-main {
    overflow-x: auto;
    padding: 5px;
    /* border: 1px solid silver; */
    display: grid;
    grid-row-gap: 1rem;
    margin-top: 2rem;
    grid-template-rows: 50px auto;}
.section-admin .flex-box-main .row-1-of-3 {
    padding: 5px;
    /* border: 1px solid silver; */
    width: 100%;
    margin: 0 auto;
    /* overflow-x: auto; */}
#table-wrapper {
    border: none;}
.table-admin {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;}
.table-admin .row {
    height: 30px;
    /* background-color: silver; */}
.table-admin .row:first-child {
    background-color: #35424a;
    color: white;
    /* text-transform: uppercase; */
    font-weight: 700;}
.table-admin tr:nth-child(odd) {
    background-color: #f2f2f2;}
.table-admin .row .cell {
    padding: 0 0.5rem 0 .5rem;
    border: 1px solid silver;}
.comment-and-media-link {
    text-decoration: none;
    /* font-size: 1rem; */
    display: block;
    /* border: 1px solid black; */
    /* padding: 2px 15px; */
    margin: 0 auto;
    text-align: center;
    font-weight: bold;}
select {
    padding: 2px;
    margin: 5px 0 5px 0;
    width: 100%;}
.btn-delete-record {
    font-size: 2rem;
    color: #e8491d;
    text-decoration: none;
    display: block !important;
    width: 100%;
    text-align: center;
    line-height: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;}
#div-table-title {
    text-align: center;
    /* padding-bottom: 4rem; */}

/******************** (END ADMIN PAGE) *******************/


/******************** REPORT HISTORY PAGE *******************/
.section-reporthistory {
    /* background-image: radial-gradient(
    to right bottom, 
    rgba(255, 255, 255, 1), 
    rgba(192, 192, 192, 1)), 
    url(../img/nat-4.jpg); */
    /* background-image: radial-gradient(rgba(255, 255, 255, 1), #eeeeee); */
    /* background-image: radial-gradient(rgba(255, 255, 255, 1), rgba(6, 6, 29, .5)); */
    background-image: radial-gradient(rgba(255, 255, 255, 1), black);
    background-size: cover;
    padding-bottom: 4rem;
    padding-top: 2rem;
}
.section-reporthistory-wrapper {
    width: 80%;
    margin: 0 auto;
}
.flex-box-reporthistory {
    /* border: 2px solid black; */
    margin: 5px;
    padding-top: 2rem;
    display: grid;
    grid-row-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15.2rem, 1fr));
    grid-row-gap: 3rem;
    justify-items: center;
}
.report {
    position: relative;
    height: 20rem;
    width: 15rem;
    /* border: 1px solid silver; */
    border-radius:3px;
    overflow: hidden;
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 1.15);
    /* clip-path: polygon(0 0, 100% 0, 100% 115%, 0 100%); */
    clip-path: polygon(0% 0%, 20% 0%, 100% 0, 100% 115%, 0 100%);
    background-image: linear-gradient(to right, white, grey);
}
.btn-report-delete {
    background-color: white;
    position: absolute;
    top: 0rem;
    right: 0rem;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 3rem;
    display: block;
    color: #e8491d;
    text-decoration: none;
    display: inline-block !important;
    text-align: center;
    /* line-height: 1; */
    /* transition: all .5s; */
}
.btn-report-delete:hover {
    background-color: orange;
}
.btn-report-delete:active {
    background-color: white;
}
.report-card-comments-and-media {
    text-decoration: none;
    color: #e8491d;
    display: block;
    width: 100%;
    height: 20px;
    line-height: 14px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
    letter-spacing: 5px;
    position: relative;
    z-index: 1000;
    color: black;
}
.report-card-comments-and-media:hover {
    /* color: white; */
    transform: scale(2rem);
}
.div-report-img {
    height: 10rem;
}
.report-img {
    width: 100%;
}
.report-details-table {
    /* border: 1px solid silver; */
    margin: 0 auto;
    text-transform: lowercase;
    font-style: italic;
    width: 90%;
}
.report-details-table td {
     border: 1px solid silver;
     padding: 2px 5px;
}
.td-status-draft {
    background-color: lightgrey;
}
.td-status-resolved {
    background-color: lightgreen;
}
.td-status-ui {
    /*ui means under-investigation*/
    background-color: yellow;
}
.td-status-rejected {
    background-color: lightcoral;
}
.report-details-div-btn{
    width: 100%;
    /* border: 1px solid silver; */
    text-align: center;
    margin-top: 1rem;
}
#btn-edit-report {
    height: 30px;
    padding: 0px 1rem 0 1rem;
    display: inline-block;
    letter-spacing: 2px;
    width: 81px;
}

.disabled-btn {
    opacity: 0;
}
/******************** (END REPORT HISTORY PAGE) *******************/



/******************** PROFILE PAGE *******************/
#date {
    /* border: 1px solid black; */
    text-align: center;
    font-weight: 300;
}
.section-profile {
    background-color: #eeeeee;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: radial-gradient(white, black);
}
.profile-div {
    color: white;
    width: 80%;
    min-height: 20rem;
    margin: 0 auto;
    /* border: 1px solid black; */
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(
    to bottom, 
    rgba(0, 0, 0, 0.9), 
    rgba(173, 216, 230, 1)), 
    url(../img/nat-10.jpg);
    /* background-position: center; */
    background-size:cover;
    border-radius: 3px;
}

.div-profile-content {
    width: 95%;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.div-profile-content-title {
    text-align: center;
    text-transform: uppercase;
    padding: .5rem 0 .5rem 0;
    font-weight: 700;
    font-size: 1.5rem;
}

.piture-div-img {
    /* border: 1px solid black; */
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.piture-div-img > img {
    width: 100%;
    height: 100%;
}
.div-profile-content-userdetails {
    text-align: center;
}

.div-profile-content-userdetails > p {
    font-size: 2rem;
    font-weight: lighter;
}
.div-profile-content-flexbox {
    display: flex;
    justify-content: space-between;
}
.flex-child {
    /* border: 1px solid black; */
    width: 50%;
}
.redflag, .incidence {
    text-align: center;
    width: 48%;
    border-radius: 5px;
    background-color: rgba(0, 0,0, .5);
}
.stats {
    color: rgba(0, 0, 0, .8);
    text-align: center;
    /* border: 1px solid black; */
}
.redflag-stats {
    /* border-right: 1px solid rgba(0, 0,0, .5); */
}
.incidence-stats {
    border-left: 1px solid rgba(0, 0,0, .5);
}
#pic-for-username {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}
#pic-for-username > img {
    height: 100%;
    width: 100%;
}
#profile-username {
    width: 80%;
    line-height: 80px; /* will center the text vertically */
}
#div-profile-content-flexbox-username-part {
    /* border: 1px solid rgba(0, 0, 0, .5); */
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 2px 2px black;
    padding: 5px 0 5px 0;
}

/******************** (END PROFILE PAGE) *******************/

/******************* REGISTER ******************/
.section-reg {
    /* padding: 5px; */
}
.section-reg-wrapper {
    /* border: 1px solid black; */
    padding: 5px;
    background-image: linear-gradient(
    to bottom, 
    rgba(0, 0, 0, 0.5), 
    rgba(173, 216, 230, .5)), 
    url(../img/nat-4.jpg);
    background-position: center;
}
.reg-form {
    /* border: 1px solid black; */
    background-image: linear-gradient(180deg, rgba(6, 6, 29, .5) 50%,rgba(6, 6, 29, .5), 100%, transparent 0);
    padding: 2px;
    width: 70%;
    margin: 0 auto;
    margin-top: 0r;
    margin-bottom: 1rem;
}
.reg-form .div-flexbox {
    display: flex;
    /* border: 1px solid black; */
    margin: 10px;
    /* background: #eeeeee; */
    justify-content: space-between;
    padding: 5px;
}
.reg-form .div-flexbox .flex-child {
 /* border: 1px solid black; */
 width: 46%;
}
.reg-form .div-flexbox .flex-child input,
.reg-form .div-flexbox .flex-child label {
    color: white;
    display: block;
    width: 100%;
    background-color: transparent;
}
.reg-form .div-flexbox .flex-child input {
    padding: .4rem;
    font-size: 1rem;
    margin-top: 3px;
    outline: none;
}
#form-register-title, #form-register-title > h2 {
    color: #eeeeee;
    padding-bottom: 0;
    /* margin-bottom: 1rem; */
    padding-top: 0;
    margin-top: 1rem;
}
.form-group-title > h4 {
    color: white;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 1rem; 
}
.here {
    color: #e8491d;
    text-decoration: underline;
    font-weight: bolder;
}
#div-flexbox-btn {
    justify-content: center;
}
.btn-reg {
    width: 100%;
    height: 40px;
    color: white;
    background-color: #e8491d;
    font-weight: bolder;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 3px;

}
.flex-child > input[type="file"] {
    /* background-color: #eeeeee !important; */
    border: 1px solid #eeeeee;
}
/******************* REGISTER ******************/


/*************** HAMBURGER MENU ***************/
.nav-div {
    background-color: transparent;
    overflow: hidden;
}

.nav-div a {
    float: left;
    display: block;
    color: #fafad2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    display: none; 

}

/* .nav-div a:hover {
    background-color: #ddd;
    color: black;
} */

.nav-div .icon {
    display: none;
}
/***********************************************/




/************************ MEDIA QUERY ******************/
@media (max-width: 1063px) {
      .section-report-flex-box {
        /* display: flex; */
        flex-direction: column;
        width: 95%;
        /* justify-content: space-between; */
    }

    .div-over-form-report {
        /* border: 1px solid blue; */
        width: 80%;
        margin: auto;
    }

    .report-input-flex {
        background-color: transparent;
    } 

    .div-over-map {
        width: 80%;
        padding: 10px;
        margin: 0 auto;
    }
    .map {
        width: 30rem;
        height: 30rem;
        border: 2px solid #35424a;
        margin: 0 auto;
    }
}    

@media (max-width: 850px) {
    .form {
        width: 80%;
    }

    .map {
        width: 20rem;
        height: 20rem;
        border: 2px solid #35424a;
        margin: 0 auto;
    }
    .report-input-flex {
        background-color: transparent;
        margin-top: 2.4rem;
    } 
}     
@media(max-width: 768px) {
    .flex-box-footer {
        flex-direction: column;
        align-items: center;
        /* align-content: center; */
        /* justify-content: space-between; */}
    .footer-navigation, .footer-copyright {
        display: block;}
    .flex-box-footer .col-1-of-2 {
       text-align: center;
        width: 90%;}
    .col-1-of-2:last-child {
        margin-top: 4rem;}


    header {
        background-image: linear-gradient(to right bottom, #35424a, rgba(53, 66, 74, 1));
        color: #fafad2;
        padding-top: 30px;
        min-height: 7rem;}
     #header-flex-box {
         flex-direction: row;}
     /* .mission-statement {
        padding: 2rem 0 2rem 0;
        width: 79%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);} */

    .section-about .flex-box {
        flex-direction: column;}
    .img-gallery { display: none;}
    .margin-div {
        margin-right: 20px;
        margin-left: 20px;}

    .flex-box-card {
        flex-direction: column;}
    .flex-box-card .col-1-of-2 {
        width: 80%;
        margin: 0 auto;}
    .flex-box-card .col-1-of-2:last-child {
        margin-top: 4rem;}

    .form {
        width: 80%;
    }

    .map {
        width: 22rem;
        height: 10rem;
        
    }
    .div-report-form-btn {
         width: 100%;
    }

    .reg-form {
        width: 90%;
    }

        .div-over-form {
        background-image: linear-gradient(105deg,rgba(6, 6, 29, .8) 0%,rgba(6, 6, 29, .8), 100%, transparent 0%), url(../img/nat-10.jpg);
    }

    .login-form-group {
        width: 100%;
        margin: 0 auto;
        /* border: 1px solid white; */
    }
    .login-form {
        width: 90%;
        margin: 0 auto;
    }
}

@media(max-width: 600px) {
    .form {
        width: 90%;
    }

     .report-input-flex {
        flex-direction: column;
        /* background-color: #eeeeee; */
    } 

    .rep-field {
        width: 100%;
    }

    .div-report-form-btn {
        width: 100%;
    }

    .reg-form .div-flexbox {
        flex-direction: column;
    }
    .reg-form .div-flexbox .flex-child {
         width: 100%;
         margin: 0 auto;
    }
    .flex-child > input[type="file"] {
        margin-top: .8rem;
        /* background-color: #eeeeee !important; */
    }

    .div-over-form {
        background-image: linear-gradient(105deg,rgba(6, 6, 29, .8) 0%,rgba(6, 6, 29, .8), 100%, transparent 0%), url(../img/nat-10.jpg);
    }

.login-form-group {
        width: 100%;
        margin: 0 auto;
        /* border: 1px solid white; */
    }
    .login-form {
        width: 90%;
        margin: 0 auto;
    }

    /* FOR THE HOME SHOWCASE SECTION */
     /* .mission-statement {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);} */
    
    /* HIDE MY CUSTOM NEMU*/
    .nav-ul {
        display: none;
    }

    /**/
    .nav-div a {
        display: none;
    }
    
    /* DISPLAY HAMBURGER MENU */
    .nav-div a.icon {
        float: right;
        display: block;
    }
    .nav-div.responsive {
        position: relative;
    }
    .nav-div.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0rem;
    }
    .nav-div.responsive a {
        float: none;
        display: block;
        text-align: left;
        /* margin-top: 3rem; */
        /* margin-right: .5rem; */
    }
    #first-link {
        margin-top: 3rem;
    }

     .map {
        width: 10rem;
        height: 10rem;
        border: 2px solid #35424a;
        margin: 0 auto;
    }

}
/* 
@media(max-width: 400px) {
    .mission-statement {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);}
}

@media(max-width: 300px) {
    .mission-statement {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);}
} */
        
/*******************************************************/